@import vars
*, *::before, *::after 
    margin: 0
    padding: 0
    box-sizing: border-box
body
    color: $white
    font-family: 'Rubik', sans-serif
    font-weight: 400
    font-size: 18px
    line-height: 21px
    background-color: $black
    min-width: 320px
    min-height: 100vh
    overflow-x: hidden
.container
    width: 100%
    max-width: 1312px
    // padding: 0 64px
    margin: 0 auto
.sr-only
    position: absolute
    white-space: nowrap
    width: 1px
    height: 1px
    overflow: hidden
    border: 0
    padding: 0
    clip: rect(0 0 0 0)
    clip-path: inset(50%)
    margin: -1px
.orange
    color: $primary
.title
    font-weight: 700
    font-size: 48px
    line-height: 57px
.btn
    width: 258px
    height: 56px
    border-radius: 7px
    border: 1px solid
    background-color: $primary
    font-weight: 400
    font-size: 18px
    display: flex
    align-items: center
    justify-content: center
    padding: 16px 32px
    color: $black
    transition: all 0.3s
    cursor: pointer
    text-decoration: none
    &:hover, &:focus
        background: none 
        border-color: $primary
        color: $primary
    &:active
        opacity: 0.6
ul
    list-style: none
a
    color: inherit
    text-decoration: none
    transition: color 0.3s
    outline: none
    path
        fill: $white
    &:hover
        color: $primary
        & path
            fill: $primary
img
    max-width: 100%
/* HEADER */
/* =========== */
.basket
    position: relative
    line-height: 0
    padding: 0 22px
    svg
        display: block
    path
        transition: fill 0.3s
    &__amount
        position: absolute
        top: 20px
        left: 45px
        $size: 16px
        display: block
        min-width: $size
        max-width: 27px
        height: $size
        background-color: $primary
        padding: 3px 5px
        display: flex
        align-items: center
        border-radius: 50px
        font-size: 12px
        line-height: 24px
        color: $black
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
.header
    position: sticky
    top: 0
    width: 100%
    height: 80px
    background: $secondary
    padding: 23px 0 20px
    z-index: 10
    &__inner, &__icons, &__mob
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        line-height: 0
        position: relative
        z-index: 1
    &__menu
        display: flex
        li
            margin: 0 20px
            line-height: 24px
    &__phone
        margin-left: 20px
.mob-btn
    display: none
    background: none
    border: none
    cursor: pointer
    path 
        transition: fill 0.3s
    &.active
        path 
            fill: $primary
    &:hover
        opacity: 0.8
    &.active:hover
        opacity: 1
/* PROVOCATION */
/* =========== */
.provocation
    background: $primary url(../img/bg.jpg) center / cover no-repeat
    padding: 103px 0 95px
    min-height: 790px
    color: $black
    &__inner
        position: relative
        width: 100%
    &__title
        font-weight: 700
        font-size: 144px
        line-height: 152px
        color: $white
        width: 1008px
        margin-bottom: 32px
        position: relative
        z-index: 1
    &__subtext
        font-size: 24px
        line-height: 28px
        width: 650px
    &__info
        font-size: 18px
        line-height: 21px
        margin-top: 109px
        .big-text
            font-weight: 700
            font-size: 36px
            line-height: 43px
            display: block
            margin-bottom: 8px
    &__banner
        position: absolute
        top: -47px
        right: -29px

/* INFO */
/* =========== */
.info
    background-color: $secondary
    color: $white
    padding: 112px  0
    &__header
        margin-bottom: 73px
    &__title
        text-align: center
    &__list
        max-width: 1083px
        width: 100%
        margin: 0 auto
        display: flex
        justify-content: space-between
    &__item
        text-align: center
        &:first-child
            padding-top: 103px
        &:last-child
            padding-top: 111px
        &:nth-child(2)
            .info__text
                margin-top: 38px
                font-size: 36px
                line-height: 43px
                .orange
                    font-size: 24px
                    line-height: 28px
                    margin-top: 8px
    &__text
        margin-top: 77px
        span
            display: block
    &__price
        margin-bottom: 55px
    &__price--old
        font-size: 36px
        line-height: 43px
        color: $grey
        position: relative
        &::after
            $add: 26px
            $width: calc(100% + $add)
            content: ""
            position: absolute
            top: calc(50%)
            left: calc( 50% - ($width/2) )
            background: #ADADAD
            border-radius: 0.5px
            width: $width
            height: 2px
            pointer-events: none
    &__price--new
        font-size: 48px
        line-height: 57px
        margin-left: 42px
    &__footer

    &__btn
        margin: 66px auto 0