section.provocation 
    .container 
        .provocation__inner 
            h1.sr-only NOOTRIS
            h2.provocation__title АКТИВИРУЙ ИММУНИТЕТ!
            p.provocation__subtext Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
            .provocation__info 
                span.big-text NOOTRIS ПОМОГАЕТ
                | Вашему организму во время пандемии 
                br 
                | и сезонных простуд
            .provocation__banner
                img(src="./img/banner.png" width="780" heihgt="845" alt="баннер" loading="lazy")